th, tr, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    margin-right: auto;
    margin-left: auto;
  }
  table{
    border: 1px solid black;
    border-collapse: collapse;
    width: 80px;
    height: 80px;
  }
  th {
    width: 150px;
    height: 50px;
    font-size: larger;
    vertical-align: center;
    column-fill: auto;
    
  }
  tr {
    width: 150px;
    height: 50px;
    font-size: larger;
  }
  td {
    width: 150px;
    height: 50px;
    font-size: medium;
    vertical-align: center;
  }
  
  tr:hover {background-color: aqua;}
 
  th:nth-child(even){background-color: rgb(14, 238, 6);}
  th:nth-child(odd){background-color: rgb(14, 238, 6);}
  h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
  }
  input {
    font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  } 
  button {
    font-size: 20px;
    
  }